:root { /*son valores que podemos reutilizar, si queremos cambiaarlos lo podemos hacer desde ahi*/
    --rosita: #ff637d;
    --rositaOcuro: #f3536e;
    --beige: #f4f1bb;
    --azul: #66d7d1;
    --white: #eaf2e3;
    --amarillo: #fff87f;
    --amarilloIntenso: #fff30a;
    
    --fuenteprincipal: font-family: 'Amatic SC', cursive;
font-family: 'Karla', sans-serif;
font-family: 'Work Sans', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
   /*globales?*/
body{
    background-color: var(--rosita);
    font-size: 1.5rem;
    line-height: 1.5; /*esto significa el interlineado*/

}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif; /*tipo de fuente en los parragos*/
    color: var(--white);
}

a{ /*para que ningun enlace tenga en la parte de abajo la linea*/
    text-decoration: none;
}

img{ /*el viejo dijo que mas adelante explica esto*/
    width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto; /*indica que que el espacio que sobre del ancho lo reparta en dos partes iguales y así la capa quede centrada.*/
}

h1,h2,h3{
    text-align: center;
    color: var(--white);
    font-family: var(--fuenteprincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.5rem;
}

/*header (este es un bloque, porque solo con seleccionarlo podemos darle apariencia a este)*/

.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/*navagación*/

.navegacion{
    background-color: var(--rositaOcuro);
    padding: 1rem 0;
    display: flex; /*usamos flex box para elementos dentro de otro contendor*/
    justify-content: center;
    gap: 1rem; /*sirve para separar los terminos que estan en la navegacion*//*la separacion la definimos*/
}
.navegacion__enlace{
    font-family: var(--fuenteprincipal);
    color: var(--white);
    font-size: 2rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{ /*esta funcion hover sirve para establecer un segundo estado a cualquier elemento, cuándo se quiere pasar el cursor encima*/
    color: var(--amarilloIntenso);
}

/*footer*/
.footer{
    background-color: var(--rositaOcuro);
    padding: 1rem 0;
    margin-top: 1rem;
}
.footer__texto{
    text-align: center;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;
}
/*grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 780px) {
    .grid{
        grid-template-columns: repeat(3, 1fr); 
    }
     
}
/*productos*/
.producto{
    background-color: var(--rositaOcuro);
    padding: 2rem;

}

.producto__nombre{
    font-size: 4rem;
    
}
.producto__precio{
    font-size: 2.8rem;
    color: var(--amarilloIntenso);
}
.producto__nombre,
.producto__precio{
    font-family: var(--fuenteprincipal);
    padding: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/*graificos*/
.grafico{
    min-height: 30rem; /*alura minima*/
    background-repeat: no-repeat; /*para que la imagen no se repita*/
    background-size: cover; /*para que la imagen tome el espacio disponible*/
    grid-column: 1/3;

}
.grafico--camisa{
    grid-row: 2/3;
    background-image: url(../FrontEndStore_inicio/img/grafico1.jpg);
}

.grafico--node{
    background-image: url(../FrontEndStore_inicio/img/grafico2.jpg);
    grid-row: 8/9;
}
@media (min-width: 780px) {
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
    } 
}

/*nosotros*/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto); /*auto significa para que tome el tamaño automaticamente*/
}

@media (min-width: 780px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    
    }
     
}

.nosotros__imagen{
    grid-row: 1/2;
    
}
@media (min-width: 780px) {
    .nosotros__imagen{
        grid-column: 2/3;
    }
     
}

/*bloques*/
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
     .bloques{
        grid-template-columns: repeat(4, 1fr); 
     }
}
.bloque{
    text-align: center;
}

.bloque__titulo{
    margin: 0; /*quita todo el margen con el valor 0*/
}

/*pagina del producto*/

@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
     
}

/*css para el formulario*/
.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
   
}
.formulario__campo{
    border: 1rem var(--rositaOcuro) solid;
    /*border-color: var(--rositaOcuro); /*color del borde*/
    /*border-width: 1rem;  /*ancho del borde*/
    /*border-style: solid;  /*tipo de borde*/
    background-color: transparent; /*q no tiene color*/
    color: var(--white);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;

}
.formulario__submit{
    background-color: var(--amarilloIntenso);
    padding: 1rem;
    border: none;
    font-size: 2rem;
    font-family: var(--fuenteprincipal);
    transition: background-color .5s ease; /*esto es una transicion*/
    grid-column: 1/3;
    
}

.formulario__submit:hover{ /*para que al poner el maus sobre el boton se coloque una manito*/
    cursor: pointer;
    background-color: var(--amarillo);
}
